* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a:nth-child(2)::after {
    content: '';
    background-color: #eb9123;
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 3px;
}

@media screen and (max-width: 950px) {
    nav a:nth-child(2)::after {
        top: 0;
        height: 100%;
    }
}

/* ========================================================= */
/* ========================================================= */
