#chatbox-close {
    z-index: 11;
    background-image: url(../assets/chatbox.png);
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    padding: 20px;
    background-color: white;
    border: 2px solid #ec9123;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    box-shadow: 5px 8px 5px black;
}


#chatbox-close::after {
    display: none;
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    rotate: 45deg;
    background-color: #ec9123;
}

#chatbox {
    z-index: 10;
    transform: translateY(100%);
    position: fixed;
    bottom: 0px;
    right: 80px;
    /* background-color: #f7d0a2; */
    background-color: white;
    border-radius: 10px 10px 0 0;
    width: 100%;
    max-width: 400px;
    height: 500px;
    transition: 0.7s ease;
}

.chatbox-visible {
    transform: translateY(0%) !important;
    transition: 0.7s ease;
    box-shadow: 0 0 20px #ec9123;
}

#screen {
    width: 100%;
    height: 90%;
    margin: 10px auto 0 ;
    /* background-color: rgba(255, 255, 255, 0.575); */
    padding: 5px;
    overflow-y: scroll;
    scrollbar-color: grey lightgrey;
    scrollbar-width: thin;
    display: flex;
    flex-direction: column;
}

.sender {
    display: flex;
    align-items: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sender img {
    width: 30px;
    border-radius: 50%;
    margin-bottom: 2px;

    /* Si l'image n'est pas carré */
    aspect-ratio: 1/1; /*  Je la resize en image carré */
    object-fit: cover; /*  Et je l'étire verticalement pour pas quelle soit déformé */
}

.sender section {
    font-size: 15px;
    margin: 0 0 0 5px;
    align-self: flex-end;
    padding-bottom: 5px;
}

.sender section span {
    align-self: flex-end;
    font-size: 10px;
    margin-left: 5px;
    padding-bottom: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#screen p {
    color: black;
    font-size: 14px;
    padding: 5px;
    width:fit-content;
    max-width: 60%;
    margin-bottom: 10px;
    text-align: justify;
}

.me {
    justify-content: center;
    background-color: skyblue;
    border-radius: 10px 10px 0 10px;
    align-self: self-end;
}

.other {
    background-color: lightgray;
    border-radius: 10px 10px 10px 0px;
    align-self: self-start;
}

#envoyer-message {
    border-top: 1px solid grey;
    bottom: 0px;
    height: 41px;
    width: 100%;
    margin: auto;
    color: black;
    background-color: white;
    display: flex;

}

#message {
    z-index: 1;
    border: none;
    width: 80%;
    height: 100%;
    padding: 0 5px;
    color: #3f3f3f;
}

#send {
    background-image: url(../assets/send.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-color: white;
    height: 100%;
    width: 20%;
}

#send:hover {
    background-image: url(../assets/send_hover.png);
    background-color: lightgray;
}




