* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #0f0e2e;
    max-width: 100vw;
    /* background-color: #11102f; */
    /* background-color: #0f0a35; */
}

header {
    z-index: 10;
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    color: white;
    font-family: Verdana, Tahoma, sans-serif;
    background-color: #0f0a35;
}

#title {
    display: flex;
    align-items: center;
    font-size: 18px;
    text-align: center;
    min-width: 144.85px;
}

.currentPage {
    color: #eb9123;
}

.currentPage::after {
    content: '';
    background-color: rgba(255, 158, 39, 0.7);
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 3px;
}
    
@media screen and (max-width: 950px) {
    .currentPage {
        color: white;
        background-color: #ec9123;
    }

    .currentPage::after {
        top: 0;
        height: 100%;
    }

    nav img {
        margin-top: 20px;
        margin-left: 50% !important;
        transform: translate(-50%);
    }

}   

nav {
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav a {
    height: 15.5px;
    margin: 0 20px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none; 
    text-align: center;
    position: relative;
    /* display: flex; */
}

nav img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: -5px;
    object-fit: cover;
}

nav a:hover {
    color: #ec9123;
}

nav a::after {
    content: '';
    background-color: #eb9123;
    position: absolute;
    top: 45px;
    left: 0;
    height: 3px;
    width: 0;
    transition: width 0.3s;
}

/* Barre en dessoue du bouton qu'on survol  */
nav a:hover::after {
    width: 100%;
}

#hamburger {
    display: none;
    position: absolute;
    right: 5%;
    width: 50px;
    height: 50px;
}

#hamburger span {
    width: 100%;
    height: 7px;
    margin: 8px 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
}

@media screen and (max-width: 950px) {
    #title {
        z-index: 10;
    }

    #hamburger {
        position: fixed;
    }

    nav {
        visibility: hidden;
        transform: translate(105%);
        padding-top: 80px;
        display: none;
    }

    .nav-visible {
        display: block;
        visibility: visible;
        background-color: white;
        transform: translate(0%);
        background-color: rgb(31, 29, 97, 0.95);
        position: fixed;
        right: 0;
        top: 0;
        /* padding-top: 80px; */
        height: 100vh;
        width: 100%;
        max-width: 500px;
        flex-direction: column;
        transition: 0.7s ease;
    }

    .nav-visible a {
        /* background-color: #0f0a35; */
        width: 100%;
        height: 100px;
        margin: 0;
        display: grid;
        place-items: center;
        border-top: 1px solid white ;
        border-bottom: 1px solid white ;
    }

    .nav-visible a:hover {
        color: white;
    }

    .nav-visible a::after {
        z-index: -1;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background-color: rgba(255, 158, 39, 0.7);
        transition: width 0.3s;
    }

    #hamburger {
        display: block;
    }

}

@media screen and (max-width: 820px) {

}

#banner{
    background-image: url("../assets/banner.jpeg");
    background-size: cover ;
    background-position: 0 78%;
    aspect-ratio: 16/2;
    width: 100vw;
    display: grid;
    place-items: center;
}

#banner h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input:focus {
    box-shadow: 0 0 5px 3px #eb9123;
}