* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
} 

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a:nth-child(5)::after {
    content: '';
    background-color: #eb9123;
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 3px;
}

@media screen and (max-width: 950px) {
    nav a:nth-child(5)::after {
        top: 0;
        height: 100%;
    }
}

/* ========================================================= */
/* ========================================================= */

#boutonConnexion{
    width: 150px;
    height: 50px;
    background-color: #ec9123 ;
    padding-right: 20px;
}

/* form{
    margin: 100px auto;
    width: 90%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

form {
    margin: 100px auto 100px;
    width: 90%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    color: lightgray;
    background-color: rgb(39, 38, 69);
    width: 550px;
    max-width: 100% ;
    height: 50px ;
    border: 0;
    margin: 10px 0;
    border-radius: 2px;
    padding-left: 15px;
    outline: none;
}

#form-btn{
    width: 550px;
    max-width: 100% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form-btn input {
    width: 125px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    color: white;
    background-color: #ec9123 ;
    font-weight: bold;
}

#form-btn a {
    text-decoration: none;
    color: white;
}