* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

table {
    width: 80%;
}

/* ========================================================= */
/* ========================== HUD ========================== */
/* ========================================================= */

#gameArena {
    /* position: relative; */
    height: 100vh;
    width: 100vw;
    display: flex;
}

#hud {
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#score {
    font-size: 15px;
}

#time {
    /* margin-right: 10px; */
    font-size: 30px;
}

#hud button {
    height: 80px;
    width: 80px;
    border: 5px solid #ec9123;
    border-radius: 50%;
    cursor: pointer;
}

#hud button:hover {
    background-color: #ec9123;
    border: 5px solid white;
}

#hud button:hover span {
    background-color: white;
}

#pause {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pause span {
    background-color: #ec9123;
    height: 30px;
    width: 5px;
    margin: 0 5px;
    border-radius: 10px;
}

#quit {
    color: #ec9123;
}

#quit:hover {
    color: white;
}

/* ========================================================= */
/* ==================== PLATEAU DE JEU ===================== */
/* ========================================================= */

table {
    margin-right: 50px;
    /* background-image: url(../assets/deck_magic/background.jpg); */
    border-left: 4px solid #ec9123;
    border-right: 4px solid #ec9123;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

table td {
    position: relative;
}

table td img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Novice td {

}

.Novice td img {
    height: 150px;
    width: 120px;
}

.Facile td {

}

.Facile td img {
    height: 100px;
    width: 80px;
}

.Intermediaire td {

}

.Intermediaire td img {
    height: 80px;
    width: 65px;
}

.Difficile td {

}

.Difficile td img {
    height: 45px;
    width: 30px;
}

.Extreme td {

}

.Extreme td img {

}



.carte {
    background-image: url('../assets/deck_clashRoyale/dos.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}

/* ========================================================= */
/* ================ PAGE DE FIN DE PARTIE ================== */
/* ========================================================= */

#end {
    position: absolute;
    top: 0;
    left: 15%;
    height: 100vh;
    width: 80%;
    margin-right: 50px;
    border-left: 4px solid #ec9123;
    border-right: 4px solid #ec9123;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(7px);
    /* display: flex !important; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}  

#end h1 {

}

#end button {
    width: 125px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    margin: 20px 0 10px;
    color: white;
    background-color: #ec9123 ;
    font-weight: bold;
}

.flipped {
    transform: scaleX(-1);
    transition: transform 5s linear ;
}

img {
    transform: rotateY(180deg);
    transition: transform 5s linear ;
}




     