* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

nav a:nth-child(6)::after {
    content: '';
    background-color: #eb9123;
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 3px;
}

#container {
    background-color: #282570;
    margin: 100px auto;
    width: 90%;
    max-width: 1100px;
}

#profil {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 400px;
    margin: 0px auto 0;
    padding-top: 30px;
}

#pdp img {
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 10px;
}

#profil #avatar {
    position: absolute;
    bottom: 10px;
    left: 125px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #11102f;
    margin: 10px;
    background-image: url("../assets/logo_modify.png");
    background-size: contain;
    cursor: pointer;
}

#avatar {
    width: 30px ;
}

#file {
    display: none;
}

#details {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0px;
}

#details h1 {
    font-size: 50px;
}

#details h2 {
    font-size: 12px;
    color: rgb(218, 218, 218);
}

#status {
    width: 500px;
    margin-top: 20px;
    font-size: 12px;
    color: rgb(218, 218, 218);
    text-align: justify;
}

#informations {
    width: 725px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
}

@media screen and (max-width: 850px) {
    #container {
        margin: 40px auto;
    }

    #details h1 {
        font-size: 30px;
    }

    #profil button {
        bottom: 10px;
        left: 140px;
    }

    #informations {
        width: 95%;
    }    

    #pseudo p:nth-child(1), #mail p:nth-child(1), #bio p:nth-child(1) {
        font-size: 5px;
    }
}

#pseudo, #mail, #bio {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;

}

#bio {
    height: 100%;
}


#pseudo p:nth-child(1), #mail p:nth-child(1), #bio p:nth-child(1) {
    width: 17%;
    text-align: start;
    font-size: 12px;
}

@media screen and (max-width: 850px) {
    #pseudo p:nth-child(1), #mail p:nth-child(1), #bio p:nth-child(1) {
        font-weight: bold;
        width: 20%;
        text-align: start;
        margin-right: 10px;
        font-size: 10px;
    }
}

#pseudo p:nth-child(2), #mail p:nth-child(2), #bio p:nth-child(2) {
    background-color: #11102f;
    width: 63%;
    height: 40px;
    padding: 10px 10px;
    border: 1px solid rgb(255, 0, 221);
    color: rgb(228, 228, 228);
}

#bio p:nth-child(2) {
    width: 84%;
    height: 100%;
}

#pseudo a, #mail a {
    background-color: #11102f;
    height: 40px;
    width: 20%;
    border: 1px solid rgb(255, 0, 221);
    color: rgb(228, 228, 228);
    font-size: 16px;
    text-align: center;
    display: grid;
    place-items: center;
    text-decoration: none;
}

#pseudo a:hover, #mail a:hover {
    background-color: #22205d;
    height: 101%;
    width: 20%;
    border: 1px solid rgb(255, 0, 221);
    color: rgb(228, 228, 228);
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

#formDisconnect {
    align-self: self-end;
}

#disconnectBtn{
    background-color: #eb9123;
    cursor: pointer; 
    color: white;
    font-weight: bold;
    margin: 20px 0;
    width: 145px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    align-self: self-end;
}

#disconnectBtn:hover{
    background-color: red ;
}